@tailwind base;
@tailwind components;
@tailwind utilities;

/* for darkmode - customized bgs to match canva logos */
@layer base {
  body {
    @apply bg-[#ffffff] text-gray-900 dark:bg-[#171717] dark:text-gray-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }

  
  .btn{
    @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap
  }
}

/* end of dark mode */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removes any default margin and padding applied to html elements like buttons etc */
* {
  margin: 0;
  padding: 0;
}

/* Doing this will allow you to apply percentage based heights starting with/base off the root body */
html,
body {
  height: 100%;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/************************************************* end of reset */

.toggle {
  position: absolute;
  right: 5rem;
  top: 2rem;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-link {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
}

.backbtn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  /*works nice at size without specifying width and height, but just to make a little smaller */
  width: 5rem;
  height: auto;
}

footer {
  width: 50%;
  /* switching off below stops it from being too early if things run off screen - means will always be right at the bottom */
  /* position: absolute;
  bottom: 0; */
  display: block;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 1rem;
  padding: 1rem;
}
